.product{
    display: flex;
    justify-content: space-evenly;

}

.content{
    width: 18%;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.content img{
    max-width: 80%;
    height: 50%;
    padding: 25px;
}

.content h2,p{
    margin: 0;
    font-family: 'Calibri';
}

.content button{
    width: 100%;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
}

.content button:hover{
    background-color: white;
    color: black;
}

.price{
    font-size: 1.2rem;
    color: red;
    margin: 5px;
}

.qtn{
    color: grey;
    margin: 5px;
}

@media (max-width:800px){
.product{
        width: 100%;
        flex-wrap: wrap;
        height: auto;
    }

    .content{
        width:100% ;
        height: 400px;
    }
}